.binance{
  background-image: url('https://public.bnbstatic.com/image/cms/blog/20200629/0d52f116-a5d2-4b88-b74c-e1c256e9a0ca.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.price:hover{
  text-decoration: underline;
  cursor: pointer;
}
.transparente{
  background: none;
}